@using PagedList;
@using PagedList.Mvc;
@model IPagedList<msit116apexLayout.Models.Leave>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "待審查請假清單";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



@section styles{

    <link href="~/Areas/Schedule/src/css/layui.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}
<div style=" width:100%; text-align:center; " class="print-btn">
    <h2 style="font-size:50px">待審查請假清單</h2>
    </div>
    @*<h1>@User.Identity.GetUserName()</h1>*@

    @*<a href="@Url.Action("ExportToExcel")" class="btn btn-primary">匯出</a>*@
    @Html.Action("ReviewPartialView")

    <div id="accordion" role="tablist">
        <div class="card">
            <div class="card-header  bg-warning" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-size:20px;">
                        待審查請假清單
                    </a>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <table class="table table-striped table-hover " lay-filter="parse-table-demo">
                        <thead class="thead-dark">
                            <tr style="border-radius: 25px;">
                                <th>
                                    @Html.DisplayNameFor(model => model.First().User.Department.departmentName)
                                </th>
                                <th>
                                    <p>員工姓名</p>
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().Lav_StartTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().Lac_EndTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().Lac_Agent)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.First().Lac_LeavecategoryID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().Lav_ReviewID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.First().LavSupervisor)
                                </th>
                                <th>
                                    審查
                                </th>

                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.Department.departmentName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.AspNetUsers.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Lav_StartTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Lac_EndTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User1.AspNetUsers.Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Leavecategory.LeavecategoryName)
                                </td>


                                @switch (item.Lav_ReviewID)
                                {
                                    case 1:
                                        <td>
                                            <p style="color:#ff006e">
                                                @Html.DisplayFor(modelItem => item.Review.ReviewName)
                                            </p>
                                        </td>
                                        break;
                                    case 2:
                                        <td>
                                            <p style="color:red">
                                                @Html.DisplayFor(modelItem => item.Review.ReviewName)
                                            </p>
                                        </td>
                                        break;
                                    case 3:
                                        <td>
                                            <p style="color:royalblue">
                                                @Html.DisplayFor(modelItem => item.Review.ReviewName)
                                            </p>
                                        </td>
                                        break;
                                    default:
                                        <td>
                                            <p style="color:palegreen">
                                                @Html.DisplayFor(modelItem => item.Review.ReviewName)
                                            </p>
                                        </td>
                                        break;

                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.LavSupervisor)
                                </td>
                                @if (item.Lav_ReviewID == 1)
                                {
                                    <td>
                                        <a href="@Url.Action("ReviewDetails","Leaves", new { id = item.ID })" class="btn btn-danger "><i class="fa fa-list" aria-hidden="true"></i>清單</a>
                                        @*@Html.ActionLink("清單", "ReviewDetails", new { id = item.ID }, new { @class = "btn btn-danger " })*@
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <a href="@Url.Action("ReviewEdit","Leaves", new { id = item.ID })" class=" btn btn-info "><i class="fa fa-check" aria-hidden="true"></i>審查</a>

                                        @*@Html.ActionLink("審查", "ReviewEdit", new { id = item.ID }, new { @class = "btn btn-info " })*@
                                    </td>
                                }


                            </tr>
                        }

                    </table>
                    @Html.PagedListPager(Model, i => Url.Action("Review", new { page = i }), PagedListRenderOptions.Classic)
                </div>
            </div>
        </div>

    </div>



    <table id="demo"></table>
    @section scripts{


        <script src="~/Areas/Schedule/src/layui.js"></script>

        <script>
            function getParameterName(skey) {
                var s = location.search.replace(/^\?/, '');
                if (s == '' || skey == null || skey == '') return unescape(s);
                var re = new RegExp('(&|^)' + skey + '=([^&]*)(&|$)');
                var a = re.exec(s);
                return unescape(a ? a[2] : '');
            }
            var param2 = getParameterName("year");
            if (param2 == "") {
                param2 = Today.getFullYear();
            }

            var param3 = getParameterName("ReviewID");
            if (param3 == "") {
                param3 = 0;
            }
            $("#ReviewID").val(param3);
            $("#year").val(param2);
        </script>
    }
