@model msit116apexLayout.Models.SetPasswordViewModel

<p class="text-info">
    請設定密碼以供使用非外部登入。
</p>
<p id="setPwdSuccess" class="text-success">@ViewBag.StatusMessage</p>
@using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "setPwdForm" }))
{
    @Html.AntiForgeryToken()

    <h4>請設定密碼</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="btnSetPwdSubmit" type="button" value="設定密碼" class="btn btn-primary" />
        </div>
    </div>
}

<script>
    $(function () {
        $('#btnSetPwdSubmit').click(function () {

            var formArray = $('#setPwdForm').serializeArray();
                var returnArray = {};
                for (var i = 0; i < formArray.length; i++) {
                    returnArray[formArray[i]['name']] = formArray[i]['value'];
                };

                $.post('@Url.Action("SetPassword")', returnArray, function (data) {
                    $('#overlayLoadActContent').html(data);
                });
        });
        checkSuccess();
        function checkSuccess() {
            if ($('#setPwdSuccess').html() != '') {
                setTimeout(function () {
                    closeNav();
                    window.location = '@Url.Action("Index","Manage")';
                }, 1000);
            };
        };
    });
</script>