@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "首頁";
}

@section styles{
    <style>
        table thead th{
            font-weight:bold;
            font-size:20px;
        }
        table th,table td{
            border-bottom:1px solid aqua;
        }
        table tr:hover{
            background-color:#DDD;
        }
        .card-body{
            padding:3px;
        }
    </style>
    }

<script src="~/Scripts/jquery.drawsvg.js"></script>
<div class="row">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-10">

        <div id="indexcontentdiv" class="card">
            <h4 class="card-header bg-dark text-white">首頁</h4>
            <div class="card-body">
                <div>

                    <svg id="svgIndexImage" viewBox="50 400 800 200" height="240" width="1500">
                        <g stroke="#AAA" stroke-width="1" fill="none">
                            <path d="M0 310 L920 310" />
                            <path d="M0 340 L920 340" />
                            <path d="M0 370 L920 370" />

                            <path d="M0 400 L920 400" />
                            <path d="M0 430 L920 430" />
                            <path d="M0 460 L920 460" />

                            <path d="M0 490 L920 490" />
                            <path d="M0 520 L920 520" />
                            <path d="M0 550 L920 550" />
                        </g>
                        <g stroke="#000" stroke-width="2" fill="none">
                            <path d="M80 494 A25 6,0 1 0 55 500 A25 6,0 1 1 30 506" />
                            <path d="M55 483 L55 517" />
                            <path d="M5 500 A50 20,0 1 0 5 499.99z" />
                            <path d="M5 500 L5 510 A50 20,0 1 0 105 510 L105 500" />
                            <path d="M5 510 L5 520 A50 20,0 1 0 105 520 L105 510" />
                            <path d="M5 520 L5 530 A50 20,0 1 0 105 530 L105 520" />
                            <path d="M5 530 L5 540 A50 20,0 1 0 105 540 L105 530" />
                            <path d="M5 540 L5 550 A50 20,0 1 0 105 550 L105 540" />
                        </g>
                        <g stroke="#000" stroke-width="2" fill="none">
                            <path d="M280 504 A25 6,0 1 0 255 510 A25 6,0 1 1 230 516" />
                            <path d="M255 493 L255 527" />
                            <path d="M205 510 A50 20,0 1 0 205 509.99z" />
                            <path d="M205 510 L205 520 A50 20,0 1 0 305 520 L305 510" />
                            <path d="M205 520 L205 530 A50 20,0 1 0 305 530 L305 520" />
                            <path d="M205 530 L205 540 A50 20,0 1 0 305 540 L305 530" />
                            <path d="M205 540 L205 550 A50 20,0 1 0 305 550 L305 540" />
                        </g>
                        <g stroke="#000" stroke-width="2" fill="none">
                            <path d="M480 484 A25 6,0 1 0 455 490 A25 6,0 1 1 430 496" />
                            <path d="M455 473 L455 507" />
                            <path d="M405 490 A50 20,0 1 0 405 489.99z" />
                            <path d="M405 490 L405 500 A50 20,0 1 0 505 500 L505 490" />
                            <path d="M405 500 L405 510 A50 20,0 1 0 505 510 L505 500" />
                            <path d="M405 510 L405 520 A50 20,0 1 0 505 520 L505 510" />
                            <path d="M405 520 L405 530 A50 20,0 1 0 505 530 L505 520" />
                            <path d="M405 530 L405 540 A50 20,0 1 0 505 540 L505 530" />
                            <path d="M405 540 L405 550 A50 20,0 1 0 505 550 L505 540" />
                        </g>
                        <g stroke="#000" stroke-width="2" fill="none">
                            <path d="M680 494 A25 6,0 1 0 655 500 A25 6,0 1 1 630 506" />
                            <path d="M655 483 L655 517" />
                            <path d="M605 500 A50 20,0 1 0 605 499.99z" />
                            <path d="M605 500 L605 510 A50 20,0 1 0 705 510 L705 500" />
                            <path d="M605 510 L605 520 A50 20,0 1 0 705 520 L705 510" />
                            <path d="M605 520 L605 530 A50 20,0 1 0 705 530 L705 520" />
                            <path d="M605 530 L605 540 A50 20,0 1 0 705 540 L705 530" />
                            <path d="M605 540 L605 550 A50 20,0 1 0 705 550 L705 540" />
                        </g>
                        <g stroke="#000" stroke-width="2" fill="none">
                            <path d="M880 474 A25 6,0 1 0 855 480 A25 6,0 1 1 830 486" />
                            <path d="M855 463 L855 497" />
                            <path d="M805 480 A50 20,0 1 0 805 479.99z" />
                            <path d="M805 480 L805 490 A50 20,0 1 0 905 490 L905 480" />
                            <path d="M805 490 L805 500 A50 20,0 1 0 905 500 L905 490" />
                            <path d="M805 500 L805 510 A50 20,0 1 0 905 510 L905 500" />
                            <path d="M805 510 L805 520 A50 20,0 1 0 905 520 L905 510" />
                            <path d="M805 520 L805 530 A50 20,0 1 0 905 530 L905 520" />
                            <path d="M805 530 L805 540 A50 20,0 1 0 905 540 L905 530" />
                            <path d="M805 540 L805 550 A50 20,0 1 0 905 550 L905 540" />
                        </g>
                        <g stroke="#00BB00" stroke-width="6" fill="none">
                            <path d="M5 460 L105 430 L205 470 L305 440 L405 450 L505 420 L605 460 L705 430 L805 440 L905 410 L879 404 L905 410 L885 430" />

                        </g>
                    </svg>

                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <h4 class="card-header bg-dark text-white">最新未讀訊息</h4>
                            <div id="userNewsContent" class="card-body">

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <h4 class="card-header bg-dark text-white">股票快速資訊</h4>
                            <div id="userStockContent" class="card-body">

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <h4 class="card-header bg-dark text-white">最新新聞</h4>
                            <div id="userForumNewsContent" class="card-body">

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <h4 class="card-header bg-dark text-white">猜你喜歡</h4>

                            <div id="fundContent" class="card-body">
                                
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <h4 class="card-header bg-dark text-white">最近行程</h4>
                            <div id="userCalendar" class="card-body">

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>




@*<h2>Index</h2>

@ViewBag.uhn
<br />
@ViewBag.uha
<br />
@ViewBag.ua
<br />
<p>Browser Capabilities:</p>
<p>Type    @ViewBag.bs.Type  </p>
<p>Name    @ViewBag.bs.Browser  </p>
<p>Version    @ViewBag.bs.Version  </p>
<p>Major Version    @ViewBag.bs.MajorVersion  </p>

<p>Platform    @ViewBag.bs.Platform  </p>

<p>Supports Cookies    @ViewBag.bs.Cookies  </p>
<p>Supports ActiveX Controls    @ViewBag.bs.ActiveXControls  </p>

<p>IsMobileDevice    @ViewBag.bs.IsMobileDevice  </p>
<p>MobileDeviceModel    @ViewBag.bs.MobileDeviceModel  </p>
<button id="btnTest" class="btn btn-primary">TestLoginEmail</button>*@


@section scripts{
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.js'></script>
@*<script src="~/Areas/Schedule/script/vue.js"></script>*@
    <script>
        @*$(function () {
            $("#btnTest").click(function () {
                $.get('@Url.Action("SendEmailLogin","Account",new { area=""})', function (data) {
                    alert(data);
                });
            });
        });*@

        $(function () {
            var $svg = $('svg').drawsvg({
                duration: 1000,
                stagger: 50,
                callback: function () {
                    setTimeout(function () {
                        animate();
                    }, 2000);
                }
            });

            function animate() {
                $svg.drawsvg('animate');
            }

            animate();

            $.get('@Url.Action("ForumTopList", "Articles", new {area= "Forum" })', function (data) {
                if (data == "") {
                    $('#userForumNewsContent').html("未登入");
                } else {
                    $('#userForumNewsContent').html(data);
                }
            });
            $.get('@Url.Action("UserHavntReadNewsTopList", "Account", new {area= "" })', function (data) {
                if (data == "") {
                    $('#userNewsContent').html("未登入");
                } else {
                    $('#userNewsContent').html(data);
                }
            });
            $.get('@Url.Action("FastStock", "Stock", new {area= "Stock" })', function (data) {
                if (data == "") {
                    $('#userStockContent').html("未登入");
                } else {
                    $('#userStockContent').html(data);
                }
            });
            $.get('@Url.Action("meteorologicalPartialView", "Leaves", new {area= "Schedule" })', function (data) {
                if (data == "") {
                    $('#userCalendar').html("未登入");
                } else {
                    $('#userCalendar').html(data);
                }
            });
            $.get('@Url.Action("Index", "CartAnalysis", new {area= "Fund" })', function (data) {
                if (data == "") {
                    $('#fundContent').html("未登入");
                } else {
                    $('#fundContent').html(data);
                }
            });

            $(window).resize(function () {
                resizeindeximage();
            });
            resizeindeximage();
            function resizeindeximage()
            {
                //var vwidth = $(window).width() * 0.78125;
                var vwidth = $('#indexcontentdiv').width() * 0.978;
                var vheight = vwidth * 0.16;
                $('#svgIndexImage').attr("width", vwidth).attr("height", vheight);
            }
        });
    </script>
    }