@model msit116apexLayout.Models.RoleEditUserViewModel


@Html.DropDownList("selectAddUser", Model.userNameAll, "請選擇", new { @class = "form-control" })
<input id="btnAddUserToRole" type="button" class="btn btn-primary" value="+"/>
@Html.ValidationSummary("", new { @class = "text-danger" })
<p id="editRoleUserSuccess" class="text-success">@ViewBag.StatusMessage</p>
<input type="hidden" id="editRoleUserRoleId" value="@Model.roleID"/>
<input type="hidden" id="editRoleUserLimit" value="@Model.limit"/>
<ul id="editRoleUserList">
    @foreach(var uname in Model.UserIDNames)
    {
        <li>
            <label>@uname.UserName</label>
            <label>@string.Format("<")</label>
            <span>@uname.UserID</span>
            <label>@string.Format(">")</label>
    <input type="button" class="btn btn-primary" value="-" />
        </li>
    }
</ul>

<input id="btnEditRoleUserSubmit" type="button" class="btn btn-primary" value="儲存"/>

<script>
    $(function () {
        $("#btnAddUserToRole").click(function () {
            var utxt = $("#selectAddUser option:selected");
            var label1 = $('<label>&lt</label>');
            var label2 = $('<label>&gt</label>');
            var labelname = $('<label>' + utxt.text().split('_')[0] + '</label>');
            var reruSpan = $("<span></span>").text(utxt.val())
            var reruBtn = $('<input type="button" class="btn btn-primary" value="-" />');
            var addli = $("<li name='liuid" + utxt.val()+"'></li>").append(labelname).append(label1).append(reruSpan).append(label2).append(reruBtn);
            var eruList = $("#editRoleUserList");
            var limitLength = $("#editRoleUserLimit").val();
            var currentLength = $("#editRoleUserList li").length;
            if ($(eruList).children("li[name='liuid" + utxt.val() + "']").length == 0) {
                if (limitLength > currentLength)
                    $(eruList).append(addli);
            }
        });

        $("#editRoleUserList").on('click', "input[value='-']", function () {
            $(this).parent().remove();
        });

        $('#btnEditRoleUserSubmit').click(function () {
            var eruList = $("#editRoleUserList li span");
            var returnArray = {};
            returnArray["roleID"] = $("#editRoleUserRoleId").val();
            var count = 1;
            $.each(eruList, function () {
                var uname = "userName" + count;
                returnArray[uname] = $(this).text();
                count = count + 1;
            });
            $.post('@Url.Action("EditRoleUser")', returnArray, function (data) {
                $('#loadEditRoleUserContent').html(data);
                $.get('@Url.Action("ViewRoleFromPower")', function (data) {
                    $('#loadViewRoleFromPowerContent').html(data);
                });
                $.get('@Url.Action("ViewRoleLevel")', function (data) {
                    $('#loadViewRoleLevelContent').html(data);
                });
            });
        });
    });
</script>